<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.SayItStraight.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.zackboutchyard.SayItStraight</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.39729611328-08vc8u0he89kh6ttn89r2n34rfnvrgd2</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fredoka-Bold.ttf</string>
		<string>Fredoka-SemiBold.ttf</string>
	</array>
	<key>GIDClientID</key>
	<string>39729611328-08vc8u0he89kh6ttn89r2n34rfnvrgd2.apps.googleusercontent.com</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
